ul{
    list-style-type: none;
}

.cardIphone div{
    width: 300px;
    height: 400px;
    background-color: gray;
    padding: 25px;
    margin-bottom: 10px;
    position: absolute;
    left: 50px;
    background-color: #F7F7F7;
    transition: 0.3s;
}

.cardIphoneLink{
    text-align: right;
}

.cardIphone div:hover{
    transition: 0.3s;
    background-color: #d0d0d0;
}

.cardIphone p, .cardIphone a{
    font-size: 24px;
    text-align: center;
    color: black;
}

.cardIphone img{
    width: 300px;
}

.cardIpad div{
    width: 300px;
    height: 400px;
    background-color: gray;
    padding: 25px;
    margin-bottom: 10px;
    position: absolute;
    left: 550px;
    background-color: #F7F7F7;
    transition: 0.3s;
}

.cardIpad div:hover{
    transition: 0.3s;
    background-color: #d0d0d0;
}

.cardIpad p, .cardIpad a{
    font-size: 24px;
    text-align: center;
    color: black;
}

.cardIpad img{
    width: 300px;
}

.cardWatch div{
    width: 300px;
    height: 400px;
    background-color: gray;
    padding: 25px;
    position: absolute;
    left: 1050px;
    background-color: #F7F7F7;
    transition: 0.3s;
}

.cardWatch div:hover{
    transition: 0.3s;
    background-color: #d0d0d0;
}

.cardWatch p, .cardWatch a{
    font-size: 24px;
    text-align: center;
    color: black;
}

.cardWatch img{
    width: 300px;
}