.ipadCard{
    width: 300px;
    height: 300px;
    margin-left: 100px;
}

.ipadCard img{
    width:  250px;
}

.ipadCard a{
    text-decoration: none;
}

.ipadCard h5{
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 50px;
}

.ipadCard h5:hover{
    transition: 0.3s;
    text-decoration: underline;
    color: black;
}

.ipadCard p{
    text-align: center;
    font-size: 12px;
    margin-right: 50px;
    opacity: 60%;
}

.btn{
    border: 1px solid #0071e3;
    border-color: #0071e3;
    border-radius: 20px;
    text-align: center;
    white-space: nowrap;
    background: #0071e3;
    color: #fff;
    padding: 4px 11px;
    margin-top: 5px;
    display: inline-block;
    font-size: 15px;
    padding-bottom: 5px;
    margin-left: 85px;
}

.ipadCard2{
    width: 300px;
    height: 300px;
    margin-left: 450px;
    position: absolute;
    bottom: 315px;
}

.ipadCard2 img{
    width:  250px;
}

.ipadCard2 a{
    text-decoration: none;
}

.ipadCard2 h5{
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 50px;
}

.ipadCard2 h5:hover{
    transition: 0.3s;
    text-decoration: underline;
    color: black;
}

.ipadCard2 p{
    text-align: center;
    font-size: 12px;
    margin-right: 50px;
    opacity: 60%;
}

.ipadCard3{
    width: 300px;
    height: 300px;
    margin-left: 800px;
    position: absolute;
    bottom: 315px;
}

.ipadCard3 img{
    width:  250px;
}

.ipadCard3 a{
    text-decoration: none;
}

.ipadCard3 h5{
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 50px;
}

.ipadCard3 h5:hover{
    transition: 0.3s;
    text-decoration: underline;
    color: black;
}

.ipadCard3 p{
    text-align: center;
    font-size: 12px;
    margin-right: 50px;
    opacity: 60%;
}

.ipadCard4{
    width: 300px;
    height: 300px;
    margin-left: 1150px;
    position: absolute;
    bottom: 315px;
}

.ipadCard4 img{
    width:  250px;
}

.ipadCard4 a{
    text-decoration: none;
}

.ipadCard4 h5{
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 50px;
}

.ipadCard4 h5:hover{
    transition: 0.3s;
    text-decoration: underline;
    color: black;
}

.ipadCard4 p{
    text-align: center;
    font-size: 12px;
    margin-right: 50px;
    opacity: 60%;
}