.watchCard{
    width: 300px;
    height: 300px;
    margin-left: 100px;
}

.watchCard img{
    width:  250px;
}

.watchCard a{
    text-decoration: none;
}

.watchCard h5{
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 50px;
}

.watchCard h5:hover{
    transition: 0.3s;
    text-decoration: underline;
    color: black;
}

.watchCard p{
    text-align: center;
    font-size: 12px;
    margin-right: 50px;
    opacity: 60%;
}

.btn{
    border: 1px solid #0071e3;
    border-color: #0071e3;
    border-radius: 20px;
    text-align: center;
    white-space: nowrap;
    background: #0071e3;
    color: #fff;
    padding: 4px 11px;
    margin-top: 5px;
    display: inline-block;
    font-size: 15px;
    padding-bottom: 5px;
    margin-left: 85px;
}

.watchCard2{
    width: 300px;
    height: 300px;
    margin-left: 450px;
    position: absolute;
    bottom: 315px;
}

.watchCard2 img{
    width:  250px;
}

.watchCard2 a{
    text-decoration: none;
}

.watchCard2 h5{
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 50px;
}

.watchCard2 h5:hover{
    transition: 0.3s;
    text-decoration: underline;
    color: black;
}

.watchCard2 p{
    text-align: center;
    font-size: 12px;
    margin-right: 50px;
    opacity: 60%;
}

.watchCard3{
    width: 300px;
    height: 300px;
    margin-left: 800px;
    position: absolute;
    bottom: 315px;
}

.watchCard3 img{
    width:  250px;
}

.watchCard3 a{
    text-decoration: none;
}

.watchCard3 h5{
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 50px;
}

.watchCard3 h5:hover{
    transition: 0.3s;
    text-decoration: underline;
    color: black;
}

.watchCard3 p{
    text-align: center;
    font-size: 12px;
    margin-right: 50px;
    opacity: 60%;
}

.watchCard4{
    width: 300px;
    height: 300px;
    margin-left: 1150px;
    position: absolute;
    bottom: 315px;
}

.watchCard4 img{
    width:  250px;
}

.watchCard4 a{
    text-decoration: none;
}

.watchCard4 h5{
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 50px;
}

.watchCard4 h5:hover{
    transition: 0.3s;
    text-decoration: underline;
    color: black;
}

.watchCard4 p{
    text-align: center;
    font-size: 12px;
    margin-right: 50px;
    opacity: 60%;
}